@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@200&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a button {
    border: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 6vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
}

.navbar.active {
    background-color: #000000;
    z-index: 2;
}

.navbar__logo {
    width: 100%;
    padding-left:  0px;
    display: flex;
    justify-content: center;
}

.navbar__logo--text {
    color:#ffffff;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.navbar__logo--text .key {
    color: #CEF09D;
}

.initial {
    color: #1C646D;
}

.initial--two {
    color: #2A2829;
}

.navbar__menu--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 5px;
    
}

.navbar__menu--list a {
    text-decoration: none;
    color: #ffffff;
}

.navbar__menu--list a:hover {
    text-decoration: underline #1C646D;
    text-underline-offset: 5px;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: #38184C;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cover__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cover__img img {
    width: 14em;
    border-radius: 300px;
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 2s;
    margin-right: 20px;
}

.cover__img img:hover {
    filter: grayscale(0);
    transition-property: filter;
    transition-duration: 1s;
}


.cover__alltext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cover__name {
    font-size: 20px;
    font-family: 'Open Sans' , sans-serif;
    color: #ffffff;
    margin-right: 0;
}

.cover__name--j {
    padding-left: 50px;
}

.cover__iam {
    margin-top: 20px;
}

.cover__iam--text {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    color: #A0CD60;
    font-weight: bold;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: #000000;
}

.aboutme {
    width: 100%;
    height: 94vh;
    display: inline-block;
}

.description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
}

.description__all {
    width: auto;
    height: 94vh;
}

.description__tittle {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #000000;
    padding-bottom: 50px;
}

.description__tittle h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.description__text {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #707564;
    padding: 0 30px;
}

.description__text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: justify;
}

.tittle{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    position: relative;
}

.tittle__tittle {
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #1C646D;
    padding: 5px 20px 0;
}

.lineL, .lineR {
    content: '';
    position: relative;
    width: 120px;
    height: 3px;;
    background-color: #8F584F;
    top: 2em;
}

.download {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download a {
    margin-left: 0;
}

.btn--decoration {
    font-size: 30px;
    font-family: Verdana, sans-serif;
    padding: 10px 20px;
    background-color: #8F584F;
    border: 3px solid #000000;
    cursor: pointer;
}

.btn--decoration:hover {
    background-color: #ABA9BC;
    opacity: .8;
    border-top: 0 ;
    border-left: 0 ;

}